@use "../../assets/styles/partials/typography";
@use "../../assets/styles/partials/mixins" as *;
@use "../../assets/styles/partials/globals" as *;
@use "../../assets/styles/partials/variables" as *;

.hero {
  padding: 1rem;
  width: 100%;
  margin-top: 5rem;
  height: 60vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;

  &__wrapper {
    height: 80%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
  }

  &__copy--line1,
  &__copy--line2,
  &__copy--line3 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__img {
    width: 6rem;
    height: 3.25rem;
    border-radius: 30px;
    overflow: hidden;
    object-fit: cover;
    margin-left: 1rem;
  }

  &__gif-wrapper {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-right: 1rem;
  }

  &__img--cat {
    width: 7rem;
    height: 3.25rem;
    border-radius: 30px;
    object-fit: cover;
  }

  &__copy--black {
    font-size: 2.5rem;
    color: $copy;
    line-height: 1.2;
    font-weight: 500;
  }

  &__copy--green,
  &__copy--green-mobile {
    font-size: 2.5rem;
    color: $brand-green !important;
    text-align: center;
    font-style: italic;
    line-height: 1.2;
    font-weight: 500;
  }

  &__copy--green-desktop {
    display: none;
  }

  &__paragraph {
    display: flex;
    justify-content: flex-start;
  }

  &__copy--small {
    padding: 1rem 0;
    text-align: left;
    max-width: 320px;
    font-size: 1.15rem;
  }

  &__icons-scroll {
    overflow: hidden;
  }

  &__icons-track {
    display: flex;
    width: fit-content;
    animation: scrollIcons 200s linear infinite;
    gap: 3rem;

    &:hover {
      animation-play-state: paused;
    }
  }

  &__icon {
    width: 2.25rem;
    opacity: 70%;
    flex-shrink: 0;
  }

  @keyframes scrollIcons {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  @include tablet {
    height: 65vh;
    margin-top: 4rem;

    &__copy--line1,
    &__copy--line2,
    &__copy--line3 {
      justify-content: center;
    }

    &__copy--green-mobile {
      display: none;
    }
    &__copy--green-desktop {
      font-size: 3.25rem;
      display: block;
      color: $brand-green;
      text-align: center;
      font-style: italic;
      line-height: 1.2;
      font-weight: 500;
    }

    &__copy--black,
    &__copy--green {
      font-size: 3.25rem;
    }

    &__img {
      height: 3.75rem;
    }

    &__img--cat {
      width: 8rem;
      height: 3.75rem;
      border-radius: 30px;
      object-fit: cover;
    }

    &__paragraph {
      width: 100%;
      justify-content: flex-end;
    }

    &__copy--small {
      margin-right: 4rem;
      text-align: left;
      width: 400px;
    }
  }

  @include desktop {
    height: 66vh;

    &__wrapper {
      max-width: 1020px;
      margin: 0 auto;
    }
    &__copy--black,
    &__copy--green,
    &__copy--green-desktop {
      font-size: 3.75rem;
    }

    &__img {
      height: 4rem;
      width: auto;

      &:hover {
        animation: wiggle 0.5s ease-in-out;
      }
    }
    &__img--cat {
      width: 8rem;
      height: 4rem;
      border-radius: 30px;
      object-fit: cover;
    }

    &__copy--small {
      margin: 0;
    }
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
