@use "../../assets/styles/partials/typography";
@use "../../assets/styles/partials/mixins" as *;
@use "../../assets/styles/partials/globals" as *;
@use "../../assets/styles/partials/variables" as *;

.nav {
  padding: 1rem;
  position: relative;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    width: 2.5rem;
  }

  &__links-container {
    display: none;
  }

  &__link {
    color: $copy;
    display: flex;
    gap: 0.25rem;
    align-items: center;
    font-size: 1rem;
    text-decoration: none;
    position: relative;
    padding-bottom: 2px;
    transition: transform 0.4s ease-in-out;
    transform: translateY(0);

    &:hover {
      color: $dark-green !important;
      font-weight: 700;
      transform: translateY(-2px);
    }

    &--active {
      color: $dark-green !important;
      font-weight: 700;
      border-bottom: 2px solid $dark-green;
    }
  }

  &__link--icon {
    transition: transform 0.4s ease-in-out;
    transform: translateY(0);

    &:hover {
      color: $dark-green !important;
      font-weight: 700;
      transform: translateY(-2px);
    }
  }

  &__hamburger__link {
    color: $green-bkgrd;
    font-size: 1.15rem;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    

    &--active {
      color: $brand-green !important;
      font-weight: 700;
      background-color: $green-bkgrd;
      padding: 1rem 0;
      width: 100%;
      font-size: 1.25rem;
    }
  }

  &__icons-container {
    display: none;
  }

  &__hamburger--container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: $brand-green;
    padding: 1rem;
    display: none;
    height: 90vh;

    &.open {
      display: block;
      z-index: 3;
      padding: 0;
      border-top: 2px solid $brand-green;
    }

    &.closed {
      display: none;
    }
  }

  &__hamburger--item {
    padding-bottom: 1rem;
  }

  &__hamburger__link {
    color: $green-bkgrd;
    font-size: 1.15rem;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    padding-top: 1rem;
  }

  &__hamburger--icon {
    width: 2.4rem;
    max-height: 24px;
  }

  @include desktop {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    height: 80px;

    &__wrapper {
      width: 100%;
      max-width: 1024px;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      align-items: center;
    }

    &__links-container {
      display: flex;
      gap: 2rem;
    }

    &__link {
      color: $copy;
      display: flex;
      gap: 0.25rem;
      align-items: center;
      font-size: 1rem;
    }

    &__icons-container {
      display: flex;
      gap: 2rem;
    }

    &__hamburger--icon {
      display: none;
    }
  }
}
